 <!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="/css/style.css">
    <title>OLX Scraper</title>
  </head>
  <body>
  
<div id="heading">
	<h1><strong><span id="o"> O</span><span id="l">L</span><span id="x">X</span></strong> Scraper</h1>
	<form method="GET" action="/search/">
		<input type="text" placeholder="Search..." name="searchTerm">
		<button type="submit" class="btn btn-primary">Search</button>
	</form>
	<br>
	<p class="text-warning"><em>NOTE: The scraper waits before retrieving each item, as to not flood the server with requests.</em></p>
	<p class="text-warning"><em>If there are many items to retrieve, it may take a long time.</em></p>
</div>
